.main{
	width: 75vw;
	margin-left: 25vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	overflow-y: scroll;
}

.animacion-in{
	animation-name: show;
	animation-duration: 1s;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

@keyframes show{
	0%{
		transform: translateY(20vh);
		opacity: 0;
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}

.showSkills{
	animation-name: showSkills;
	animation-duration: 500ms;
	animation-direction: normal;
	animation-fill-mode: forwards;
}
@keyframes showSkills{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

//
@media screen and ( max-width: 992px ){
	.main{
		width: 100vw;
		overflow: visible;
		height: auto;
		position: static;
		margin-left: 0;
	}
}