.btn-cv{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: K2D;
	min-width: 80px;
	width: 13vw;
	height: 50px;
	background-color: transparent;
	border-radius: 5px;
	border: none;
	font-size: 0.9em;
	margin: 0 auto;
	color: white;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	position: relative;
	box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
	border: 1px solid white;
	transition: all 500ms;

	.btn-cv__ico{
		font-weight: 200;
		margin-right: 5px;
	}

	&:hover{
		background-color: #09a382 ;
		border: 1px solid #09a382 ;
	}
	&:focus{
		outline: none;
	}
}

//
@media screen and ( max-width: 992px ){
	.btn-cv{
		position: absolute;
		top: 15px;
		left: 0;
		right: 0;
		width: 200px;
		height: 40px;
		line-height: 40px;

		.btn-cv__ico{
			font-size: 1.8em;
		}
	}
}
@media screen and ( max-width: 516px ){
	.btn-cv{
		width: 140px;
		height: 40px;
		font-size: 16px;
		font-weight: bolder;
		background-color: #09a382 ;
		border: 1px solid #09a382 ;

		.btn-cv__ico{
			font-size: 1em;
		}
	}
}