.btn-cv{
	display: block;
	width: 15vw;
	height: 50px;
	background-color: transparent;
	border: none;
	margin: 0 auto;
	color: white;
	border-radius: 2px;
	cursor: pointer;
	font-size: .9em;
	text-align: center;
	position: relative;
	box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
	border: 1px solid white;
	transition: all 500ms;

	&:hover{
		background-color: #09a382 ;
		border: 1px solid #09a382 ;
	}
}