.social-container{
	display: flex;
	flex-direction: row;
	margin: 5px;
	justify-content: center;
	align-items: stretch;

	a{
		text-align: center;
		margin-right: 5px;
		text-decoration: none;
		font-size: 2.4em;
		color: white;
		transition: all 400ms ease;

		&:hover{
			color: #09a382 ;
		}
	}
}
@media screen and ( max-width: 375px ){
}