.portfolio-card {
	width: 300px;
	height: 350px;
	min-width: 250px;
	min-height: 350px;
	max-width: 350px;
	max-width: 350px;
	border-radius: 5px;
	transition: all 300ms ease;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	flex-wrap: wrap;
	margin: 20px;
	box-sizing: border-box;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
}

.card-header {
	width: 100%;
	height: 70%;
	position: relative;
	overflow: hidden;

	h3{
		font-size: 14px;
		padding: 2.5%;
		background-color: #49494993;
		font-weight: 700;
		text-align: center;
		color: white;
		position: absolute;
		border-radius: 2px;
		bottom: 0px;
		left: 0px;
		font-family: K2D;
		z-index: 98;
	}
	.github{
		background-color: #49494993;
		height: 80px;
		display: flex;
		width: 80px;
		position: absolute;
		right: 0;
		clip-path: polygon(0 0, 100% 100%, 100% 0);
		z-index: 98;

		.github__ico{
			position: absolute;
			right: 5%;
			top: 5%;
			transform: rotate(45deg);
			font-size: 2.5rem;
			color:white;
		}
	}
	.card-img {
		width: 100%;
		height: 100%;
		transition: all 300ms ease;

		&:hover{
			transform: scale(1.1);
		}
	}
}
.show-info {
	opacity: 0;
	position: absolute;
	display: flex;
	visibility: hidden;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	margin: 0 auto;
	border-radius: 4px;
	overflow: hidden;
	border-left: 1px solid #ccc;

	.btn-close{
		position: absolute;
		right: 0%;
		top: 2%;

		button{
			background-color: transparent;
			border: none;

			&:focus{
				outline: none;
			}
		}
		.btn-close__ico{
			font-size: 34px;
			color: white;

			&:hover{
				cursor: pointer;
			}
		}
	}
}
.show-info__animationIn{
	animation: showInfoIn 600ms ease;
	animation-fill-mode: forwards;
}
.show-info__animationOut{
	animation: showInfoOut 600ms ease;
	animation-fill-mode: forwards;
}

@keyframes showInfoIn {
	0% {
		visibility: visible;
		opacity: 0;
		transform: translateY(300px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
		z-index: 99;
		visibility: visible;
	}
}
@keyframes showInfoOut {
	0% {
		opacity: 1;
		transform: translateY(0px);
		visibility: visible;
	}

	100% {
		transform: translateY(300px);
		opacity: 0;
		z-index: 0;
		visibility: hidden;
	}
}

.card-body {
	width: 100%;
	height: auto;
	font-family: 'Playfair Display';
	font-size: 1em;
	margin-top: 8px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;

	.card-title {
		font-size: 1.3em;
		font-weight: 800;
		margin-bottom: 8px;
		text-align: center;
	}

	.card-description {
		text-align: left;
		padding-left: 2.5%;
		line-height: 25px;
		color: white;
	}

	.tecnologias {
		font-size: 1em;
		margin-top: 35px;
		p{
			margin-bottom: 10px;
			font-weight: 700;
		}

		.ico {
			font-size: 2em;
		}
	}
}

.card-footer {
	width: 100%;
	height: 30%;
	display: flex;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	justify-content: center;
	align-items: center;
	position: relative;

	.btn-showInfo{
		top: 5px;
		right:0px;
		position: absolute;

		
		button{
			border-radius: 45%;
			border: none;
			background-color: transparent;

			&:focus{
				outline: none;
			}
		}
		.btn-showInfo__ico{
			color: black;
			font-weight: bold;
			font-size: 34px;
			border-radius: 50%;
			padding: 5px;
			transition:background-color 400ms ease ;
			
			&:hover{
				cursor: pointer;
				background-color: rgba(204, 204, 204, 0.397);
			}
		}
	}

	.btn-group{
		display: flex;
		justify-content: space-around;
		width: auto;
		height: auto;

		.card-btn {
			text-decoration: none;
			width: auto;
			height: auto;
			margin: auto;
			min-width: 70px;
			font-size: 16px;
			margin: 0 5px;
			border: 1px solid #09a382;
			color: #09a382;
			border-radius: 4px;
			padding: 7px 16px;
			transition: all 400ms ease;
			text-align: center;
			font-family: 'Playfair Display';
	
			&:hover {
				color: white;
				background-color: #09a382;
				border: 1px solid #09a382;
			}
		}
	
		.disableLink{
			pointer-events: none;
			cursor: default;
			border: #999 1px solid;
			color: #999 !important;
		}
	}
}

//
@media screen and ( max-width: 516px ){

}