.message{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.94);
	color: white;
	z-index: 100;
	width: 100vw;
	height: 100vh;
}
.msg-container{
	width: 350px;
	height: 350px;
	font-size: 1em;
	line-height: 2em;
	font-family: K2D;

	p{
		font-size: 1em;
		text-align: left;
	}
	button{
		border: none;
		border-radius: 100%;
		display: block;
		width: 50px;
		height: 50px;
		font-size: larger;
		font-weight: bolder;
		color: red;
		background-color: transparent;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		margin-right: 10px;
		margin-top: 10px;
	}
}