.about-me{
	width: 100%;
	height: 92vh;
	margin: 0 auto;
	margin-top: 8vh;
	opacity: 0;

	.about-me__perfil{
		display: flex;
		justify-content: space-evenly;
		flex-direction: row;	
		margin: 0 auto;
		width: 80%;
		margin-bottom: 20px;
	}
	.perfil-img{
		padding: 5px;
		margin: 0 auto;
		border-radius: 100%;
		width: 18vw;
		height: 36vh;
		
	}
	.perfil-img_img{
		width: 100%;
		height: 100%;
		border-radius: inherit;
		background-position: center;
		background-size:contain;
	}
	.perfil-info{
		text-align: center;
		width: 600px;
		font-size: 1.4em;
		font-weight: bold;
		color: white;
		padding: 10px;
		margin-top: 5px;

		.un-poquito{
			color: #09a382;
			font-size: 1.2em;
			margin-bottom: 10px;
		}
		.author{
			font-style: italic;
		}
		.about{
			font-size: .7em;
			color: black;
			font-weight: normal;
			line-height: 3vh;
		}
		.iam{
			margin: 0 auto;
			position: relative;
			width: 50%;
			border-top: 1px solid #ccc ;
			border-bottom: 1px solid #ccc ;
			padding: 20px;
			margin-top: 20px;
			color: black;
			font-family: Pacifico;

			p{
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
			}
		}
	}
	.title{
		width: 100%;
		background-color: rgba(0, 0, 0, 0.568);
		color: white;
		padding: 30px;
		font-size: 1.5em;
		font-family: Relaway;
		font-weight: bold;
		text-align: center;
		margin: 8vh 0;
	}
	.certifications{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		border-radius: 4px;
		width: 90% ;
		margin: 0 auto;
	}
	.certification{
		flex-basis: 50%;
		min-width: 400px;
		min-height: 300px;
		overflow: hidden;
		margin: 0 auto;

		img{
			width: 100%;
			height: 100%;
		}
	}
}

//
@media screen and (max-width: 992px){
	.about-me{
		.title{
			padding: 20px 0;
		}
		.perfil-img{
			width: 300px;
			height: 300px;
		}
	}
}
@media screen and ( max-width: 516px ){
	.about-me{
		margin-top: 25vh;

		.about-me__perfil{
			min-width: 200px;
			width: 300px;
		}

		.title{
			padding: 10px 0;
			font-size: 1.2em;
		}
		.perfil-img{
			margin-top: 50px;
			width: 200px;
			height: 200px;
		}
		.about-me__perfil{
			flex-direction: column;
			justify-content: center;
			margin: 0 auto;
			margin-top: 25vh;
		}
		.perfil-info{
			min-width: 200px;
			width: auto;
			margin: 0 auto;
			text-align: left;

			.un-poquito{
				font-size: 1em;
			}
			.about{
				font-size: .7em;
				line-height: 30px;
			}
		}
		.certifications{
			width: 100%;
		}
		.certification{
			min-width: 200px;
			width: 100%;
			flex-basis: 100%;
		}
	}
}